.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.glowing_text {
  color: rgb(219, 219, 219);
  background: #17161d;
  text-shadow: 0 0 10px rgb(219, 219, 219);
  color: rgb(219, 219, 219);
  background: #ffffff00;
  }

body {
    background-image: url(./img/red.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
  }
  
p {
    text-align: center;
    width: 80%;
    color: rgb(219, 219, 219);
    font-size: 25px;
    white-space: pre-line;
  }

  .links {
    outline: none;
    border-bottom: 2px;
  }

  .links:link {
    color: #7a7a7a;
  }

  .links:visited {
    color: #6b6b6b;
  }

  .glass {
    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 2px solid rgba(94, 94, 94, 0.125);
}

  #rec1 {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
  }

  #hi {
    font-size: 500%;
  }

  .small{
    font-size: xx-small;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff84a4;
  color: black;
}

.topnav a.active {
  background-color: #55092f;
  color: white;
}