.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.glowing_text {
  color: rgb(219, 219, 219);
  background: #17161d;
  text-shadow: 0 0 10px rgb(219, 219, 219);
  color: rgb(219, 219, 219);
  background: #ffffff00;
  }

body {
    background-image: url(./img/red.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
  }
 
  h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -15%);
    text-align: center;
    color:rgb(219, 219, 219);
    font-size: 50px;
  }
  
p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    color: rgb(219, 219, 219);
    font-size: 25px;
  }

  .links {
    outline: none;
    border-bottom: 2px;
  }

  .links:link {
    color: #7a7a7a;
  }

  .links:visited {
    color: #6b6b6b;
  }
  
  #my_projects {
    position: absolute;
    top: 15%;
  }

  #discord-widget {
    position: absolute;
    left: 80%;
  }

  .glass {
    backdrop-filter: blur(16px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

  #rec1 {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 37.5%;
  }
